main {
  display: grid;
  grid-template-columns: 1fr;
  
}

.main-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

& h3{
  text-align: center;
}

}



.line {
  // min-height: 6px;
  // min-width: 254px;
  // background-color:#FFB800;

  width: 112px;
  height: 47px;
  border-bottom: 1px solid #ffb800;
  // position: absolute;
}

// hr{
//     background-color: #FFB800;

// }

hr {
  width: 300px;

  height: 6px;
  background-color: #ffb800;
  border: none;
//   opacity: 0.5;
}

section{
  display: grid;
  grid-template-columns: repeat(3, minmax(427px, 427px) );
  grid-gap: 40px;
  // justify-content: center;
  place-content: center;
  // padding: 2em;
  padding: 40px;
  margin-bottom: 40px;
}

article{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  // border: 1px solid #000;
  box-shadow: 2px 3px 5px 0px #CECEDD;
  cursor: pointer;
}

article img{
  width: 427px;
  // width: 100%;
  height: 427px;
  object-fit: cover;
}

article p{
  padding: 1em;
  font-size: 24px;
}



